.mainProject {
  height: 100vh;
  margin-top: 15px;
  overflow-x: hidden;
}
.headingPro {
  text-align: right;
  font-size: 30px;
  margin: 75px;
  padding-right: 50px;
  font-family: Montserrat;
}

.projectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
}

.card {
  margin: 15px;
  padding: 15px;
  background-color: #edf4f5;
}

.card:hover {
  transform: translateY(-3px);
}

.cardBody {
  background-color: #edf4f5;
}

.proTitle {
  color: #444444;
  padding: 20px;
  font-weight: 600;
  background-color: #edf4f5;
}

.proTech {
  background-color: #edf4f5;
  color: black;
  padding: 5px;
  margin: -8px 0px 0px 0px;
  text-align: center;
  font-size: 20px;
}

.proLink {
  background-color: rgb(58, 56, 56);
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}

.proLink:hover {
  border-radius: 0px;
  background-color: black;
  color: azure;
}

@media only screen and (max-width: 768px) {
  .headingPro {
    font-size: 20px;
    margin: 20px;
  }

  .projectCard {
    margin: 0px;
    padding: 0px;
  }
}
