.main {
  height: 100vh;
  margin-top: 15px;
  overflow-x: hidden;
}

.heading {
  text-align: right;
  font-size: 30px;
  margin: 75px;
  padding-right: 50px;
  font-family: Montserrat;
}

section {
  padding: 15px;
  font-family: Montserrat;
  text-align: center;
  margin-right: 75px;
  padding-right: 50px;
}

p {
  margin: 15px;
  font-size: 25px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .main {
    min-height: 100vh;
  }
  .heading {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0px;
  }

  section {
    margin-right: 30px;
    padding: 0px;
  }

  p {
    font-size: 12px;
    margin: 10px 0px 0px 30px;
  }
}
