.background {
  background-color: #36454f;
  height: 100vh;
}

.title {
  margin: 100px;
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
}

.menu {
  display: inline-flex;
  text-align: left;
  margin: 125px;
  /* margin-top: 125px; */
  padding: 10px 20px;
  background-color: #4b5c65;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  border-radius: 5%;
}

.text {
  margin-right: 20px;
}
